<div class="ui relaxed divided list raised very padded text container segment">
  <div class="item" id="gid1">
    <div class="content">
      <a class="ui right floated green button">Join Game</a>
      <a class="header">Silvers Only (1/10)</a>
      <div class="description">Player name - Started n minutes ago</div>
    </div>
  </div>
  <div class="item" id="gid2">
    <div class="content">
      <a class="ui right floated green button">Join Game</a>
      <a class="header">FPL-C (4/10)</a>
      <div class="description">Player name - Started n minutes ago</div>
    </div>
  </div>
  <div class="item" id="gid3">
    <div class="content">
      <a class="ui right floated green button">Join Game</a>
      <a class="header">HVH!!! (9/10)</a>
      <div class="description">Player name - Started n minutes ago</div>
    </div>
  </div>
  <div class="ui divider">
  </div>
  <div class="ui bottom padded">
    <a class="ui button blue right floated" href="/new">Add Game</a>
  </div>

</div>
