<% include partials/header %>

<h1>CS:GO 10-Man Finder</h1> 

<% include game-table %>

<div id="controls">
    <button id="addGame">Add Game</button>
    <button id="joinGame">Join Game</button>
</div>

<% include partials/footer %>