<% include partials/header %>

<div id="brand-header">
    <a href="/">
        <h1 class="ui center aligned icon header">
            <i class="circular handshake outline icon"></i>
            CS:GO 10-Man Finder
        </h1>
    </a>
</div>

<% include game-table %>

<% include partials/footer %>
